<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>

	<h3>Home</h3>
	<p>Welcome to the home of <%= @owner.name %>.</p>
	<p>I was born on <%= @owner.birthdate %>.</p>
	<p>Only <%= @owner.countdown %> days until my birthday!</p>
	
</body>
</html>